//
//
//


//// Initialization step

initialize() {
	
	setwd("~/Desktop/Mauritius/Binary interpolations/1773-1997");
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(dimensionality="xy", nucleotideBased=F);
	initializeMutationType("m1", 0.5, "f", 0.0);    //// 1 kind of mutation - Neutral
	initializeMutationType("m2", 0.1, "g", -0.03, 0.2);    //// 1 kind of mutation - Deleterious
	initializeGenomicElementType("g1", m1, 1);      ////
	m1.convertToSubstitution = T;
	//initializeMutationRate(1e-7);                    ///// Nominal mutation rate
	initializeMutationRate(0);                    ///// Mutation rate not used because of tree sequencing
	initializeGenomicElement(g1, 0, 8000);   ///// Our Genome
	initializeRecombinationRate(0);            ///// FLAT Reacombination Rate
	//initializeRecombinationRate(1e-8);            ///// Nominal Reacombination Rate
	//	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// PARAMETERS
	//
	defineConstant("ID", 'SDM');
	
	if (exists('sigma')==0){
		defineConstant("sigma", 2);
	}
	
	if (exists('K')==0){
//		defineConstant("K", 0.061); // carrying-capacity total map
				defineConstant("K", 0.021); // carrying-capacity total map

	}
	defineConstant("CC", 16000); // carrying-capacity per unit square (roughly)
	defineConstant("SD", 3);  // sigma_D, the dispersal distance
	defineConstant("SI", 1.5);  // sigma_I, the spatial interaction distance
	defineConstant("SM", 1.5);  // sigma_M, the mate choice distance
	
	defineConstant("L", 2.8);    // mean lifetime 
	defineConstant("LT", c(rnorm(1,0.54,0.05),sort(rnorm(12,0.148,0.06)),rnorm(1,0.5,0.05), rnorm(1,0.75,0.05), 1.0));    // pink pigeon life table mortality
	defineConstant("W", "NA");  // width and height of the simulated area
	defineConstant("G", 1e8);  // genome length
	defineConstant("FECUN", 1/L); // mean fecundity
	defineConstant("RHO", FECUN/((1+FECUN) * K)); // constant in spatial competition function
	defineConstant("prob_litter",c(rep(0,100),rpois(900,4.8))); // revised distribution May 2020-litter size prob distribution - wild
	
	// spatial competition
	initializeInteractionType(1, "xy", reciprocal=T, maxDistance=SI * 3);
	i1.setInteractionFunction("n", (1.0/(2*PI*SI^2)), SI);
	
	// mate choice
	initializeInteractionType(2, "xy", reciprocal=T, maxDistance=SM * 3);
	i2.setInteractionFunction("n", 1.0/(2*PI*SM^2), SM);

}
//
//
//
reproduction() {
	
	mate = i2.drawByStrength(individual, 1);
	if (mate.size()) {
			//nOff = rpois(1, FECUN);
		nOff = sample(prob_litter, 1);
		POS=individual.spatialPosition; //// position of birther
		
		for (i in seqLen(nOff)) {			
		//pos = POS + rnorm(2, 0, SD);
		pos = POS + rcauchy(2, 0 , 2);
			if (p1.pointInBounds(pos)) { //// Check if new position is within bounds, make birth happen
				offspring = subpop.addCrossed(individual, mate);
				offspring.setSpatialPosition(pos);
			}		
		}
	}
	return;

}


1 early() {
	
	defineConstant("POP", 16000);
	//	defineConstant("POP", 16000);
	sim.addSubpop("p1", POP); //// Initial Size
	p1.individuals.age = rdunif(POP, min=0, max=15);

	//
	//
	p1.setSpatialBounds(c(0, 0, 700, 800));  //// Spatial Bounds of Population
	X = readFile("1773 .txt");
	X[which(X=="NA")] = 0.0;
	X[which(X<=0)] = 0.0;
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
	//
	//
	//
	for (ind in p1.individuals) { //// Set up Population
		ENV=0;
		while (ENV<=0.05){
			
			POS=p1.pointUniform();
			ENV= p1.spatialMapValue("map1", POS);
		}
		
		
		ind.setSpatialPosition(POS);
		
	}
	i1.evaluate();
}


early() {
	
	//	defineConstant("FECUN", 1/L); // mean fecundity
	// defineConstant("RHO", FECUN/((1+FECUN) * K)); // constant in spatial competition function
	i1.evaluate(p1);
	inds = p1.individuals;
	competition = i1.totalOfNeighborStrengths(inds);
	//	competition = (competition + 1) / (2 * PI * SI^2);
	location = inds.spatialPosition; ////////get the x and y value of each individual
	//	optimum = pmax(0.00001,(p1.spatialMapValue("map1", location))+ rnorm(1, -0.25, 0.25));
	optimum = (p1.spatialMapValue("map1", location)+0.00001 );
	
//	inds.fitnessScaling =  pmin(0.95, (optimum/(optimum + RHO * competition)));			//Yannis code
	//	
	//
	////Age tables 
	ages = inds.age;
	prob_mort=c(rnorm(1,0.54,0.05),sort(rnorm(12,0.148,0.06)),rnorm(1,0.5,0.05), rnorm(1,0.75,0.05), 1.0);
	prob_mort[prob_mort<0]=0;
	mortality = prob_mort[ages];
	survival = 1 - mortality;
	inds.fitnessScaling =  pmin(0.95, ((optimum/(optimum + RHO * competition))* survival));
		
	//	inds.fitnessScaling = CC / (p1.individualCount * mean(survival));
	//
	//
	//
	//	// Output per gen stats
	print("Gen:  "+ sim.generation);
	print("Pop:  "+ p1.individualCount);
	print("comp:  "+mean(competition));
	print("Mean fit: "+mean(p1.individuals.fitnessScaling));
	//
}
//
//
early() { /// stochastic death from ckyriazis
	
	inds = p1.individuals;
	
	//simulate beta distribution
	alpha = 0.5;
	beta = 8;
	x1 = rgamma(1, mean = alpha, shape=alpha);
	x2 = rgamma(1, mean = beta, shape=beta);
	beta = x1/(x1+x2); //probability of stochastic mortality this generation
	
	
	//set probability of death for each generation equal to outcome of beta 	
	for(i in inds){
		kill = rbinom(1,1,beta);
		if(kill==1){
			i.fitnessScaling = 0.0;
		}
	}
}
//
1: late() {
	// to be ready for mate choice
	i2.evaluate(p1);
}
//
//
2: late() {
	
	GEN=sim.generation;
	
	if (p1.individualCount<=1)
	{//// Terminate and print message if there is a collapse
		print('Population Total Collapse');
		sim.simulationFinished();
	}
}
3 early() {
	X = readFile("1774 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

4 early() {
	X = readFile("1775 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

5 early() {
	X = readFile("1776 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}


6 early() {
	X = readFile("1776 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

7 early() {
	X = readFile("1776 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

8 early() {
	X = readFile("1777 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

8 early() {
	X = readFile("1778 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

9 early() {
	X = readFile("1778 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

10 early() {
	X = readFile("1779 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

11 early() {
	X = readFile("1780 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

12 early() {
	X = readFile("1781 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

13 early() {
	X = readFile("1782 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

14 early() {
	X = readFile("1783 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

15 early() {
	X = readFile("1784 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

16 early() {
	X = readFile("1785 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

17 early() {
	X = readFile("1786 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

18 early() {
	X = readFile("1787 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

19 early() {
	X = readFile("1788 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

20 early() {
	X = readFile("1789 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

21 early() {
	X = readFile("1790 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

22 early() {
	X = readFile("1791 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

23 early() {
	X = readFile("1792 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

24 early() {
	X = readFile("1794 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

25 early() {
	X = readFile("1795 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

26 early() {
	X = readFile("1796 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

27 early() {
	X = readFile("1797 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

28 early() {
	X = readFile("1798 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

29 early() {
	X = readFile("1799 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

30  early() {
	X = readFile("1800 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

31 early() {
	X = readFile("1801 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

32 early() {
	X = readFile("1802 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

33 early() {
	X = readFile("1803 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

34 early() {
	X = readFile("1804 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

35 early() {
	X = readFile("1805 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

36 early() {
	X = readFile("1806 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

37 early() {
	X = readFile("1807 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

38 early() {
	X = readFile("1808 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

39 early() {
	X = readFile("1809 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

40 early() {
	X = readFile("1810 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

41 early() {
	X = readFile("1811 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

42 early() {
	X = readFile("1812 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

43 early() {
	X = readFile("1813 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

44 early() {
	X = readFile("1814 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

45 early() {
	X = readFile("1815 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

46 early() {
	X = readFile("1816 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

47 early() {
	X = readFile("1817 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

48 early() {
	X = readFile("1819 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

49 early() {
	X = readFile("1820 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

50 early() {
	X = readFile("1821 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

51 early() {
	X = readFile("1822 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

52 early() {
	X = readFile("1823 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

53 early() {
	X = readFile("1824 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

58 early() {
	X = readFile("1825 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

59 early() {
	X = readFile("1826 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

60 early() {
	X = readFile("1827 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

61 early() {
	X = readFile("1828 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

62 early() {
	X = readFile("1829 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

63 early() {
	X = readFile("1830 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

64 early() {
	X = readFile("1831 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

65 early() {
	X = readFile("1832 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

66 early() {
	X = readFile("1833 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

67 early() {
	X = readFile("1834 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

68 early() {
	X = readFile("1835 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

69 early() {
	X = readFile("1836 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

70 early() {
	X = readFile("1837 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

71 early() {
	X = readFile("1838 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

72 early() {
	X = readFile("1839 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

73 early() {
	X = readFile("1840 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

74 early() {
	X = readFile("1841 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

75 early() {
	X = readFile("1842 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

76 early() {
	X = readFile("1843 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

77 early() {
	X = readFile("1844 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

78 early() {
	X = readFile("1845 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

79 early() {
	X = readFile("1846 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

80 early() {
	X = readFile("1847 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

81 early() {
	X = readFile("1848 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

82 early() {
	X = readFile("1849 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

83 early() {
	X = readFile("1850 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

84 early() {
	X = readFile("1851 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

85 early() {
	X = readFile("1852 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

86 early() {
	X = readFile("1853 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

87 early() {
	X = readFile("1854 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

88 early() {
	X = readFile("1855 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

89 early() {
	X = readFile("1856 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

90 early() {
	X = readFile("1857 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

91 early() {
	X = readFile("1858 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

92 early() {
	X = readFile("1859 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

93 early() {
	X = readFile("1860 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

94 early() {
	X = readFile("1861 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

95 early() {
	X = readFile("1862 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

96 early() {
	X = readFile("1863 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

97 early() {
	X = readFile("1864 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

98 early() {
	X = readFile("1865 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

99 early() {
	X = readFile("1866 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

100 early() {
	X = readFile("1867 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

101 early() {
	X = readFile("1868 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

102 early() {
	X = readFile("1869 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

103 early() {
	X = readFile("1870 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

104 early() {
	X = readFile("1871 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}



106 early() {
	X = readFile("1873 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

107 early() {
	X = readFile("1874 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

108 early() {
	X = readFile("1875 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

109 early() {
	X = readFile("1876 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

110 early() {
	X = readFile("1877 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

111 early() {
	X = readFile("1878 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

112 early() {
	X = readFile("1879 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

113 early() {
	X = readFile("1880 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

114 early() {
	X = readFile("1881 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

115 early() {
	X = readFile("1882 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

116 early() {
	X = readFile("1883 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

117 early() {
	X = readFile("1884 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

118 early() {
	X = readFile("1885 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

119 early() {
	X = readFile("1886 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

120 early() {
	X = readFile("1887 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

121 early() {
	X = readFile("1888 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

122 early() {
	X = readFile("1889 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

123 early() {
	X = readFile("1890 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

124 early() {
	X = readFile("1891 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

125 early() {
	X = readFile("1892 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

126 early() {
	X = readFile("1893 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

127 early() {
	X = readFile("1894 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

128 early() {
	X = readFile("1895 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

129 early() {
	X = readFile("1896 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

130 early() {
	X = readFile("1897 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

131 early() {
	X = readFile("1898 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

132 early() {
	X = readFile("1899 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

133 early() {
	X = readFile("1900 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

134 early() {
	X = readFile("1901 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

135 early() {
	X = readFile("1902 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

136 early() {
	X = readFile("1903 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

137 early() {
	X = readFile("1904 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

138 early() {
	X = readFile("1905 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

139 early() {
	X = readFile("1906 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

140 early() {
	X = readFile("1907 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

141 early() {
	X = readFile("1908 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

142 early() {
	X = readFile("1909 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

143 early() {
	X = readFile("1910 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

144 early() {
	X = readFile("1911 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

145 early() {
	X = readFile("1912 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

146 early() {
	X = readFile("1913 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

147 early() {
	X = readFile("1914 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

148 early() {
	X = readFile("1915 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

149 early() {
	X = readFile("1916 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

150 early() {
	X = readFile("1917 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

151 early() {
	X = readFile("1918 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

152 early() {
	X = readFile("1919 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

153 early() {
	X = readFile("1920 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

154 early() {
	X = readFile("1921 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

155 early() {
	X = readFile("1922 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

156 early() {
	X = readFile("1923 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

157 early() {
	X = readFile("1924 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

158 early() {
	X = readFile("1925 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

159 early() {
	X = readFile("1926 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

160 early() {
	X = readFile("1927 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

161 early() {
	X = readFile("1928 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

162 early() {
	X = readFile("1929 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

163 early() {
	X = readFile("1930 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

164 early() {
	X = readFile("1931 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

165 early() {
	X = readFile("1932 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

166 early() {
	X = readFile("1933 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

167 early() {
	X = readFile("1934 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

168 early() {
	X = readFile("1935 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

169 early() {
	X = readFile("1936 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

170 early() {
	X = readFile("1937 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

171 early() {
	X = readFile("1938 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

172 early() {
	X = readFile("1939 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

173 early() {
	X = readFile("1940 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

174 early() {
	X = readFile("1941 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

175 early() {
	X = readFile("1942 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

176 early() {
	X = readFile("1943 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

178 early() {
	X = readFile("1944 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

179 early() {
	X = readFile("1945 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

180 early() {
	X = readFile("1946 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

181 early() {
	X = readFile("1947 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

182 early() {
	X = readFile("1948 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

189 early() {
	X = readFile("1949 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

190 early() {
	X = readFile("1950 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

191 early() {
	X = readFile("1951 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

192 early() {
	X = readFile("1952 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

193 early() {
	X = readFile("1953 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

194 early() {
	X = readFile("1954 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

195 early() {
	X = readFile("1954 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

196 early() {
	X = readFile("1955 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

197 early() {
	X = readFile("1956 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

198 early() {
	X = readFile("1957 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

199 early() {
	X = readFile("1958 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

200 early() {
	X = readFile("1959 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

201 early() {
	X = readFile("1960 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

202 early() {
	X = readFile("1961 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

203 early() {
	X = readFile("1962 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

204 early() {
	X = readFile("1963 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

205 early() {
	X = readFile("1964 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

206 early() {
	X = readFile("1965 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

207 early() {
	X = readFile("1966 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

208 early() {
	X = readFile("1967 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

209 early() {
	X = readFile("1968 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

210 early() {
	X = readFile("1969 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

211 early() {
	X = readFile("1970 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

212 early() {
	X = readFile("1971 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

213 early() {
	X = readFile("1972 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

214 early() {
	X = readFile("1973 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

215 early() {
	X = readFile("1974 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

216 early() {
	X = readFile("1975 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

217 early() {
	X = readFile("1976 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

218 early() {
	X = readFile("1977 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

219 early() {
	X = readFile("1978 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

220 early() {
	X = readFile("1979 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

221 early() {
	X = readFile("1980 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

222 early() {
	X = readFile("1981 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

223 early() {
	X = readFile("1982 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

224 early() {
	X = readFile("1983 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

225 early() {
	X = readFile("1984 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

226 early() {
	X = readFile("1986 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

227 early() {
	X = readFile("1987 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

228 early() {
	X = readFile("1988 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

229 early() {
	X = readFile("1989 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

230 early() {
	X = readFile("1990 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

231 early() {
	X = readFile("1991 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

232 early() {
	X = readFile("1992 .txt");
	X = asFloat(X);
	X = rev(X);
	X = matrix(X, nrow=800,ncol=700,byrow=T);
	p1.setValue("ENV_MATRIX",X);
	p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}

233 early() {
X = readFile("1993 .txt");
X = asFloat(X);
X = rev(X);
X = matrix(X, nrow=800,ncol=700,byrow=T);
p1.setValue("ENV_MATRIX",X);
p1.defineSpatialMap("map1", "xy", NULL, X, interpolate=T,valueRange=range(X), colors=c("blue","green"));
}
//////
////
//


//
//
s0 110000 late()
{////maximum reach of simulation, if it does not terminate
	print("simulation finished at "+sim.generation+" with N="+p1.individualCount);
	sim.simulationFinished();
}

///// Finito
